:root {
  --Wkeys-radius: 0 0 5px 5px;
  --Bkeys-radius: 0 0 4px 4px;
  --container-radius: 20px;
  --keys-border: 0.005rem solid #e6e6e6;
  --Wkey-box-shadow: 0 5px 0 rgba(194, 194, 194, 0.678);
  --Bkey-box-shadow: 0 4px 0 rgba(32, 32, 32, 0.192);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
}

.container {
  padding: 35px 40px;
  width: 90vw;
  max-width: 1000px;
  min-width: 600px;
  background-color: rgb(19, 17, 17);
  border-radius: var(--container-radius);
}

.container header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 37px;
  color: whitesmoke;
}
.container header h1 {
  font-size: 2.5rem;
}

.container header img {
  width: 120px;
  height: auto;
  margin-top: 20px;
}

.piano {
  display: flex;
  width: 100%;
}

.key {
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.white-key {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 180px;
  background-color: white;
  box-shadow: var(--Wkey-box-shadow);
  border-radius: var(--Wkeys-radius);
  border: var(--keys-border);
  cursor: pointer;
}

.black-key {
  --width: 30px;
  width: var(--width);
  height: 100px;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  background: linear-gradient(#2e2e2e, #000);
  box-shadow: var(--Bkey-box-shadow);
  border-radius: var(--Bkeys-radius);
  cursor: pointer;
  z-index: 100;
}

.white-key:active {
  transform: translateY(6px);
  box-shadow: none;
}

.black-key:active {
  transform: translateY(6px);
  box-shadow: none;
}


@media (max-height: 600px) {
  .container {
    height: 90vh;
  }

  .piano {
    height: 80%;
  }

  .white-key {
    height: 90%;
  }

  .black-key {
    height: 50%;
  }
}